In [1]:
import pandas as pd
import numpy as np

In [2]:
basics = pd.read_csv('Data/title_basics.csv.gz')
title_ratings = pd.read_csv('Data/title_ratings.csv.gz')
tmdb_API = pd.read_csv('Data/tmdb_results_combined.csv.gz')

In [3]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81670 entries, 0 to 81669
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81670 non-null  object
 1   titleType       81670 non-null  object
 2   primaryTitle    81670 non-null  object
 3   originalTitle   81670 non-null  object
 4   isAdult         81670 non-null  int64
 5   startYear       81670 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  81670 non-null  int64
 8   genres          81670 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.6+ MB

In [4]:
#Delete columns: original_title, isAdult, titleType, 
basics = basics.drop(columns = ['originalTitle', 'isAdult', 'titleType'])
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81670 entries, 0 to 81669
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          81670 non-null  object
 1   primaryTitle    81670 non-null  object
 2   startYear       81670 non-null  int64
 3   endYear         0 non-null      float64
 4   runtimeMinutes  81670 non-null  int64
 5   genres          81670 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 3.7+ MB

# Creating these tables will be a multi-step process.

Getting a list of all individual genres.
Create a new title_genres table with with the movie ids duplicated, once for each genre that a movie belongs to.
Create a mapper dictionary with numeric ids for each genre.
Use the mapper dictionary to replace the string genres in title_genres with numeric genre_ids.
Convert the mapper dictionary into a final genres table with the numeric genre_id and the string genre.

In [5]:
#Split genres column into genre_id and genre_name
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...
81665,tt9914942,Life Without Sara Amat,2019,NaN,74,Drama,[Drama]
81666,tt9915872,The Last White Witch,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
81667,tt9916170,The Rehearsal,2019,NaN,51,Drama,[Drama]
81668,tt9916190,Safeguard,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
81669,tt9916362,Coven,2020,NaN,92,"Drama,History","[Drama, History]"

In [6]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama,Drama
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...
81668,tt9916190,Safeguard,2020,NaN,95,"Action,Adventure,Thriller",Action
81668,tt9916190,Safeguard,2020,NaN,95,"Action,Adventure,Thriller",Adventure
81668,tt9916190,Safeguard,2020,NaN,95,"Action,Adventure,Thriller",Thriller
81669,tt9916362,Coven,2020,NaN,92,"Drama,History",Drama
81669,tt9916362,Coven,2020,NaN,92,"Drama,History",History

In [7]:
genres_split = basics['genres'].str.split(",")
unique_genres = genres_split.explode().unique()
unique_genres

array(['Comedy', 'Fantasy', 'Romance', 'Drama', 'Horror', 'Sci-Fi',
       'Biography', 'Mystery', 'Musical', 'Action', 'Adventure', 'Crime',
       'Thriller', 'Music', 'Animation', 'Family', 'History', 'War',
       'Sport', 'Western', 'Adult', 'Short', 'Reality-TV', 'News',
       'Talk-Show', 'Game-Show'], dtype=object)

In [8]:
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [9]:
#Save just tconst and generes_split as new df
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [10]:
#make the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [11]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres

          tconst genres_split  genre_id
0      tt0035423       Comedy         5
0      tt0035423      Fantasy         9
0      tt0035423      Romance        18
1      tt0062336        Drama         7
2      tt0069049        Drama         7
...          ...          ...       ...
81668  tt9916190       Action         0
81668  tt9916190    Adventure         2
81668  tt9916190     Thriller        23
81669  tt9916362        Drama         7
81669  tt9916362      History        11

[153004 rows x 3 columns]

In [12]:
basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002,NaN,126,Drama,[Drama]

In [13]:
#Convert teh genre map dictionary into a dataframe
genre_lookup = pd.DataFrame({'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})

genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [14]:
title_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497338 entries, 0 to 497337
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         497338 non-null  object
 1   averageRating  497338 non-null  float64
 2   numVotes       497338 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ MB

In [15]:
tmdb_API.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2565 entries, 0 to 2564
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2565 non-null   object
 1   adult                  2563 non-null   float64
 2   backdrop_path          1392 non-null   object
 3   belongs_to_collection  206 non-null    object
 4   budget                 2563 non-null   float64
 5   genres                 2563 non-null   object
 6   homepage               173 non-null    object
 7   id                     2563 non-null   float64
 8   original_language      2563 non-null   object
 9   original_title         2563 non-null   object
 10  overview               2512 non-null   object
 11  popularity             2563 non-null   float64
 12  poster_path            2306 non-null   object
 13  production_companies   2563 non-null   object
 14  production_countries   2563 non-null   object
 15  release_date           2545 non-null   object
 16  revenue                2563 non-null   float64
 17  runtime                2563 non-null   float64
 18  spoken_languages       2563 non-null   object
 19  status                 2563 non-null   object
 20  tagline                1097 non-null   object
 21  title                  2563 non-null   object
 22  video                  2563 non-null   float64
 23  vote_average           2563 non-null   float64
 24  vote_count             2563 non-null   float64
 25  certification          814 non-null    object
dtypes: float64(9), object(17)
memory usage: 521.1+ KB

In [16]:
basics.drop(columns='genres_split', inplace=True)
basics.head()

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama
3,tt0088751,The Naked Monster,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,Crime and Punishment,2002,NaN,126,Drama

In [17]:
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [18]:
title_genres.head()

      tconst genres_split  genre_id
0  tt0035423       Comedy         5
0  tt0035423      Fantasy         9
0  tt0035423      Romance        18
1  tt0062336        Drama         7
2  tt0069049        Drama         7

In [24]:
#Set tconst as primary key on basics and title_genre tables
max_str_len = basics['tconst'].fillna('').map(len).max()
print(max_str_len)

10

In [25]:
from sqlalchemy.types import *
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [30]:
username = 'root'
password = 'root'
db_name = 'Movies'
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

engine = create_engine(connection)

In [31]:
# check if database exists, if not, create it
if database_exists(connection):
    print('It exists')
else:
    create_database(connection)
    print('Database created!')

Database created!

In [32]:
#Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
#Create a schema dictionary using Sqalchemy datatype 
df_schema = {
    'tconst': String(key_len+1),
    'primaryTitle': Text(title_len+1),
    'startYear': Float(),
    'endYear': Float(),
    'runtimeMinutes': Integer()}

In [34]:
basics.to_sql('basics', engine, dtype=df_schema, if_exists='replace', index=False)

81670

In [35]:
engine.execute('')

OperationalError: (pymysql.err.OperationalError) (1065, 'Query was empty')
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [36]:
basics.to_sql('title_basics', engine, dtype=df_schema, if_exists='replace', index=False)

81670

In [38]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')