In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"

In [3]:
title_aka = 'https://datasets.imdbws.com/title.akas.tsv.gz'

In [4]:
title_ratings = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [5]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [6]:
titleAka = pd.read_csv(title_aka, sep='\t', low_memory=False)
titleAka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [7]:
ratings = pd.read_csv(title_ratings, sep='\t', low_memory=False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       264
2  tt0000003            6.5      1810
3  tt0000004            5.6       178
4  tt0000005            6.2      2610

In [8]:
basics.replace({'\\N':np.nan}, inplace=True)

In [9]:
basics['runtimeMinutes'].isna().sum()

6921794

In [10]:
basics.dropna(subset='runtimeMinutes', inplace=True)
basics['runtimeMinutes'].isna().sum()

0

In [11]:
basics['runtimeMinutes'].isna().sum()

0

In [12]:
basics.dropna(subset='genres', inplace=True)
basics['genres'].isna().sum()

0

In [13]:
basics['titleType'].value_counts()

tvEpisode       1427331
short            599617
movie            381625
video            180218
tvMovie           91466
tvSeries          90262
tvSpecial         18067
tvMiniSeries      17137
tvShort            8795
videoGame           322
Name: titleType, dtype: int64

In [16]:
basics = basics.loc[basics['titleType']=='movie']
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

In [17]:
basics['titleType'].value_counts()

movie    381625
Name: titleType, dtype: int64

In [18]:
basics['startYear'].value_counts()

2017    14366
2018    14320
2019    14054
2016    13950
2015    13475
        ...
1904        1
1897        1
1896        1
2026        1
1894        1
Name: startYear, Length: 130, dtype: int64

In [23]:
basics = basics.loc[basics['startYear'] >= '2000']
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,NaN,94,Documentary
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
76059,tt0077684,movie,Histórias de Combóios em Portugal,Histórias de Combóios em Portugal,0,2022,NaN,46,Documentary

In [24]:
is_documentary = basics['genres'].str.contains('documentary', case=False)
basics = basics[~is_documentary]
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61116,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67669,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
77964,tt0079644,movie,November 1828,November 1828,0,2001,NaN,140,"Drama,War"
86801,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"

In [26]:
keepers = basics['tconst'].isin(titleAka['titleId'])
keepers

34803      True
61116      True
67669      True
77964      True
86801      True
           ...
9812927    True
9812936    True
9812975    True
9813020    True
9813104    True
Name: tconst, Length: 150515, dtype: bool

In [27]:
basics = basics[keepers]

In [28]:
titleAka.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [29]:
titleAka['region'].value_counts()

DE    4280320
FR    4276005
JP    4274809
IN    4215732
ES    4196249
       ...
JE          2
NU          1
TV          1
PW          1
NR          1
Name: region, Length: 248, dtype: int64

In [36]:
pd.set_option('display.max_rows', None)
titleAka['region'].value_counts()

DE      4280320
FR      4276005
JP      4274809
IN      4215732
ES      4196249
IT      4176923
PT      4107644
\N      1888603
US      1433441
GB       447619
CA       226125
XWW      172499
AU       133969
BR       117532
RU        95483
MX        93994
GR        92235
PL        88033
FI        86973
SE        76462
HU        74382
NL        62836
AR        59853
PH        57370
NO        56476
DK        55118
TR        52609
XWG       51672
SUHH      37632
HK        34465
BE        33397
KR        32516
TW        31557
ZA        31064
CN        30625
AT        29757
SG        29755
RO        28329
BG        27805
UA        25259
RS        22700
CZ        20360
IL        19972
ID        18953
AE        16334
IE        16298
XYU       15744
EG        14847
HR        14171
IR        13306
CH        13196
VE        13141
NZ        12834
TH        11918
LT        11567
VN        11432
CL        10300
CSHH       9835
DDDE       9640
SI         9436
CO         8893
EC         8771
NG         8659
SK         8434
PE         8240
UY         7495
EE         7129
XEU        5915
PK         5163
LV         4996
MY         4352
BD         3967
DO         2681
IS         2597
CU         2418
AL         2207
BA         2119
LB         1759
PR         1733
LK         1704
UZ         1662
TN         1502
GE         1478
XAS        1353
NP         1345
MA         1201
LU         1099
CY         1056
DZ          984
AZ          924
SA          885
MK          870
BY          856
AM          832
CR          822
KZ          816
PA          793
JM          769
CM          755
KP          731
KE          723
BO          715
YUCS        714
GH          677
LI          661
SY          573
IQ          559
QA          532
UG          516
MT          460
XKO         440
PY          407
MN          401
JO          378
GT          373
BF          372
KW          367
KH          358
SN          333
TT          324
MD          317
XKV         278
AF          261
PS          255
ME          235
MM          235
XSA         210
SM          209
CG          200
SV          199
HT          199
CI          197
KG          195
MC          176
MZ          174
BH          171
TZ          157
HN          152
TG          150
ZW          148
CD          146
ET          141
GI          141
BS          136
AO          133
BJ          130
MO          122
NI          120
CSXX        119
SL          108
VI          104
ZM          103
GP          101
RW           99
GL           94
MU           94
LA           84
GA           83
MV           82
YE           81
ML           77
FO           77
SD           75
TJ           73
TM           70
BT           65
GU           61
LY           60
NE           59
GM           58
BB           58
AD           54
MG           54
BUMM         54
VDVN         53
BI           52
MW           51
OM           47
MQ           45
XPI          44
KY           44
IM           42
AN           42
GN           42
AW           39
LR           39
FJ           39
BM           36
BZ           34
PF           34
BW           33
SZ           30
SO           28
TD           26
PG           26
SR           25
RE           24
AG           22
GY           21
BN           21
TL           20
GW           19
CV           18
NC           18
SC           17
MR           17
DM           17
LS           15
LC           14
TO           13
ER           13
VG           12
VA           11
GQ           11
CF           10
AQ           10
MH            9
GF            7
VU            7
VC            7
XSI           7
ZRCD          6
AS            6
ST            6
EH            6
GD            6
SB            6
KN            5
WS            5
KM            5
AI            5
MP            4
CK            4
XAU           4
DJ            3
TC            3
KI            3
SH            3
MS            3
CW            3
XNA           2
CC            2
FM            2
JE            2
NU            1
TV            1
PW            1
NR            1
Name: region, dtype: int64

In [ ]:
titleAka.loc[titleAka['region'] == 'US']